body{
    background-color: honeydew;
    margin: 0px;
}
.wrapper{
    background-color: gray;
    display: grid;
    place-items: center;
}
.postTitle{
    width: 500px;
    min-height: 60px;
    background-color: red;
}
.postTitle *{
    display: inline-block;
    margin: 5px;
}
.postImage{
    width: 500px;
    background-color: blue;
}
.postBody{
    width: 500px;
    background-color: green;
}
.reactions{
    background-color: brown;
}
.reactions div{
    display: inline-block;
    padding: 15px;
}
.likes{
    background-color: coral;
    padding: 15px;
}
.description{
    padding: 15px;
}
#options{
    float: right;
}
#HTML5logo{
    float: left;
}
#bookmark{
    float: right;
}