body{
    background-color: #000000;
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    display: grid;
    place-items: center;
}
.postTitle{
    width: 500px;
    min-height: 60px;
    background-color: white;
}
.postTitle *{
    display: inline-block;
    margin: 5px;
}
.postImage{
    width: 500px;
    height: 450px;
}
.postBody{
    width: 500px;
    background-color: white;
}
.reactions div{
    display: inline-block;
    padding: 15px;
}
.reactions div i{
    font-size: 30px;
}
.likes{
    padding: 15px;
}
.description{
    padding: 15px;
}
#options{
    float: right;
    font-size: 35px;
    margin-top: 10px;
}
#HTML5logo{
    float: left;
    font-size: 40px;
    margin-top: 10px;
    margin-right: 0px;
}
#bookmark{
    float: right;
}